{% extends "display/base.html" %}

{% block title %}Uploader un Document{% endblock %}

{% block content %}
    <h1>Uploader un Document</h1>
    
    <form action="{% url 'upload_document' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="nom_fichier">Nom du fichier :</label>
        <input type="text" name="nom_fichier" required> <br/>

        <label for="fichier_pdf">Choisir un fichier PDF :</label> 
        <input type="file" name="fichier_pdf" accept="application/pdf" required> <br/>

        <button type="submit">Uploader</button>
    </form>

    <br>
    <a href="{% url 'doc_parses' %}">
        <button>Voir la liste des audits</button>
    </a>
{% endblock %}
